
/* Base Styles */
div.contentBlock { 
	max-width: 640px;
	display: none;
	border-right: solid 1px #999; border-left: solid 1px #999;
}
div.contentBlock > h3 {
	font-family: Arial, sans-serif;
	font-size:16px;
	line-height:22px;
	background-color:#d00000;
	max-width:640px;
	color:#ffffff;
	text-transform:uppercase;
	padding:5px 0;
	font-weight:bold;
	padding:0;
	margin:0;
}

#menu-container {
	background-color: #ffffff;
	width:240px;
	float:left;
	text-align:left;
	position:fixed;
	font-family: Arial, sans-serif;
	font-size:13px;	
}

.menu {
	padding-left:0;
}

.menu a {
	color: #000;
	text-decoration: none;
	display: block;
}

.menu > li {
	margin: 0;
	text-transform:capitalize;
	padding:5px;
	list-style-type: none;
	border:solid 1px #999;
}

.menu > li:hover {
	background-color: #5cc6ed;
	color:#ffffff;
	border:solid 1px #fff;
}

.menu > li.active {
	background-color: #26a4d3;
	color:#ffffff;
	border:solid 1px #fff;
}

.menu > li.active a{
	color:#ffffff;
}

.body-text, .mobile {
	overflow: hidden;
}

@media (max-width: 1100px) {
	.menu, #menu-container h2, #menu-container > a {
		display: none;

	}
	form { 
		display:none;
	}

}

/* End Base Styles */

/* Start Ameristar */
.ameristar .contentBlock table, 
.ameristar .contentBlock table td, 
.ameristar .contentBlock table h1, 
.ameristar .contentBlock table h2, 
.ameristar .contentBlock table h3,
.ameristar .contentBlock table p, 
.ameristar .contentBlock table a {
	color: #ffffff !important;
}
.ameristar div.contentBlock > h3 { 	background-color:#ffffff;	color:#d00000; }
.ameristar .contentBlock table, .ameristar .contentBlock table td {
	background-color: #B22024;
}
.ameristar .contentBlock table a[href="https://litmus.com"] {
	background-color: #ffffff;
	color:#B22024 !important;
	border:none !important;	
}

/* End Ameristar */

/* Start Boomtown */
.boomtown .contentBlock table, 
.boomtown .contentBlock table td, 
.boomtown .contentBlock table h1, 
.boomtown .contentBlock table h2, 
.boomtown .contentBlock table h3,
.boomtown .contentBlock table p, 
.boomtown .contentBlock table a {
	color: #ffffff !important;
}
.boomtown div.contentBlock > h3 { 	background-color:#ffffff;	color:#d00000; }
.boomtown .contentBlock table, .boomtown .contentBlock table td {
	background-color: #000000;
}
.boomtown .contentBlock table a[href="https://litmus.com"] {
	background-color: #ffffff;
	color:#000000 !important;
	border:none !important;	
}