
/* Base Styles */
div.contentBlock { 
	max-width: 640px;
	display: none;
	border-right: solid 1px #999; border-left: solid 1px #999;
}
div.contentBlock > h3 {
	font-family: Arial, sans-serif;
	font-size:16px;
	line-height:22px;
	background-color:#d00000;
	max-width:640px;
	color:#ffffff;
	text-transform:uppercase;
	padding:5px 0;
	font-weight:bold;
	padding:0;
	margin:0;
}

#brands li {text-transform: none} /* don't capitalize mychoie */

#menu-container {
	background-color: #ffffff;
	min-width:240px;
	max-height: 100%;
	float:left;
	text-align:left;
	position:fixed;
	font-family: Arial, sans-serif;
	font-size:13px;	
	overflow: scroll;
}

.menu {
	padding-left:0;
}

.menu a {
	color: #000;
	text-decoration: none;
	display: block;
}

.menu > li {
	margin: 0;
	text-transform:capitalize;
	padding:5px;
	list-style-type: none;
	border:solid 1px #999;
}

.menu > li:hover {
	background-color: #5cc6ed;
	color:#ffffff;
	border:solid 1px #fff;
}

.menu > li.active {
	background-color: #26a4d3;
	color:#ffffff;
	border:solid 1px #fff;
}

.menu > li.active a{
	color:#ffffff;
}

.body-text, .mobile {
	overflow: hidden;
}

@media (max-width: 1100px) {
	#menu-container {
		overflow: hidden;
	}
	.menu, #menu-container h2, #menu-container > a {
		display: none; 

	}
	form { 
		display:none;
	}

}

/* End Base Styles */

/* 

Need custom stiles for:
Table background colors
Headline Copy Color
Subjead Copy Color
Body Copy
Button color
Button copy color
Link copy color
Section Border color


*/

/* Start Ameristar */

/*Standard body copy color*/
.ameristar .contentBlock table, 
.ameristar .contentBlock table td, 
.ameristar .contentBlock table h1, 
.ameristar .contentBlock table h2, 
.ameristar .contentBlock table h3,
.ameristar .contentBlock table p, 
.ameristar .contentBlock table a {
	color: #ffffff !important;
}

/*content block title styles */
.ameristar div.contentBlock > h3 { 	background-color:#ffffff;	color:#d00000; }


/*First Background Color*/
.ameristar .contentBlock table, .ameristar .contentBlock table td {
	background-color: #B22024;
}

/*Secondary Background Color*/
.ameristar .contentBlock table.second,
.ameristar .contentBlock table.second table,
.ameristar .contentBlock table.second td {
	background-color: #CD272D !important;
}

/*Button Styles*/
.ameristar .contentBlock table a[href="https://litmus.com"] {
	background-color: #ffffff;
	color:#B22024 !important;
	border:none !important;	
}

/*P0# Header background color */
.ameristar .P01 table td,
.ameristar .P02 table td,
.ameristar .P03 table td {
	background-color: #000000 !important;
}

 /*Border color*/
 .ameristar .contentBlock table {
 	border-color:#E18530 !important;
 }

 /* CTA Background color */
.ameristar table.M09,
.ameristar .M09 table,
.ameristar .M09 td,
.ameristar table.M10,
.ameristar .M10 table,
.ameristar .M10 td  {
	background-color: #343434 !important;
}
 


/* End Ameristar */

/* Start Boomtown */
.boomtown .contentBlock table, 
.boomtown .contentBlock table td, 
.boomtown .contentBlock table h1, 
.boomtown .contentBlock table h2, 
.boomtown .contentBlock table h3,
.boomtown .contentBlock table p, 
.boomtown .contentBlock table a {
	color: #ffffff !important;
}
.boomtown div.contentBlock > h3 { 	background-color:#ffffff;	color:#d00000; }
.boomtown .contentBlock table, .boomtown .contentBlock table td {
	background-color: #000000;
}
.boomtown .contentBlock table a[href="https://litmus.com"] {
	background-color: #ffffff;
	color:#000000 !important;
	border:none !important;	
}