div.contentBlock { 

	display: none;
	
}
div.contentBlock > h3 {
	font-family: Arial, sans-serif;
	font-size:16px;
	line-height:22px;
	background-color:#d00000;
	max-width:640px;
	color:#ffffff;
	text-transform:uppercase;
	padding:5px 0;
	font-weight:bold;
	padding:0;
	margin:0;
}

#menu {
	width:300px;
	float:left;
	text-align:left;
	position:absolute;
	font-family: Arial, sans-serif;
	font-size:13px;	
}

#menu > li {
	margin:5px 0;
	text-transform:lowercase;
	
}

#menu > li.active {
	background-color: #26a4d3;
	color:#ffffff;
}

.body-text, .mobile {
	overflow: hidden;
}

@media (max-width: 1200px) {
	#menu {
		display: none;

	}
	form { 
		display:none;
	}

}

#M02 img {
	width:600px;
	height:207px;
} 